@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:10vh;
    
}

.context h2{
    text-align: center;
    color: #fff;
    font-size: 30px;
}

h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
  }
  
.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/*estilo del boton*/


button {
    background-color: #17a2b8; /* color de fondo */
    border: none; /* borde sin estilo */
    color: white; /* color de texto */
    padding: 15px 32px; /* espacio alrededor del texto */
    text-align: center; /* alineación del texto */
    text-decoration: none; /* sin decoración de texto */
    display: inline-block; /* mostrar como elemento en línea */
    font-size: 28px; /* tamaño de fuente */
    margin: 4px 2px; /* margen entre botones */
    cursor: pointer; /* cambiar el cursor a mano */
    border-radius: 8px; /* borde redondeado */
    position: relative; /* posición relativa */
    transition: all 0.3s ease-in-out; /* transición suave */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button:hover {
    transform: translateX(-5px) scale(1.05); /* mover hacia la izquierda y agrandar */
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1); /* sombra */
  }
  
  
  /* Diseño del titulo */

  h1 {
      text-align: center;
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
  }

  .k {
      color: #FFD700; /* dorado */
      font-size: 10rem;
      font-weight: bold;
      text-shadow: 1px 1px #333;
      animation: k-move 1s ease-in-out infinite alternate;
  }

  .r {
      color: #FF8C00; /* naranja */
      font-size: 8rem;
      font-weight: bold;
      text-shadow: 1px 1px #333;
      animation: r-move 1s ease-in-out infinite alternate;
  }

  .y {
      color: #FFD700; /* dorado */
      font-size: 6rem;
      font-weight: bold;
      text-shadow: 1px 1px #333;
      animation: y-move 1s ease-in-out infinite alternate;
  }

  .p {
      color: #FF8C00; /* naranja */
      font-size: 10rem;
      font-weight: bold;
      text-shadow: 1px 1px #333;
      animation: p-move 1s ease-in-out infinite alternate;
  }

  .t {
      color: #00FF7F; /* verde lima */
      font-size: 6rem;
      font-weight: bold;
      text-shadow: 1px 1px #333;
      animation: t-move 1s ease-in-out infinite alternate;
  }

  .o {
      color: #1E90FF; /* azul claro */
      font-size: 5rem;
      font-weight: bold;
      text-shadow: 1px 1px #333;
      animation: o-move 1s ease-in-out infinite alternate;
  }

  .u {
      color: #FFD700; /* dorado */
      font-size: 10rem;
      font-weight: bold;
      text-shadow: 1px 1px #333;
      animation: u-move 1s ease-in-out infinite alternate;
  }

  .s {
      color: #FF8C00; /* naranja */
      font-size: 8rem;
      font-weight: bold;
      text-shadow: 1px 1px #333;
      animation: s-move 1s ease-in-out infinite alternate;
  }

 
